.code-block-container {
  /* height: 700px; */
  /* border: 2px solid red; */
}

.copy-to-clipboard-button {
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  background-color: rgba(229, 231, 235, 0.5) !important;
  color: black !important;
  border: none !important;
  width: 2.5rem !important;
  height: 1.5rem !important;
  border-radius: 0.375rem !important;
  cursor: pointer !important;
  /* opacity: 1 !important;
  transition: none !important; */
}

.copy-to-clipboard-button:hover {
  background-color: #f3f4f6 !important;
}
