.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #606060;
}

.max-queries {
  font-size: 1.2rem;
  text-align: center;
}
